<h1><u>Etherum Blockchain Scanner</u></h1>

<form action="token-holders-info" method="post">
    <lable for="text">Token Contract</lable>
    <input type="text" name="token" value="" required>
    <input type="submit" value="Token Holders">
</form>
<hr>
<form action="compare-holders" method="post">
    <lable for="text">Token Contract 1</lable>
    <input type="text" name="token1" value="" required>
    <lable for="text">Token Contract 2</lable>
    <input type="text" name="token2" value="" required>
    <input type="submit" value="Compare">
</form>
<hr>
<form action="pending_transaction">
    <lable for="text">Token Contract</lable>
    <input type="text" name="tokenP" value="" required>
    <input type="submit" value="Pending Transactions">
</form>